{% extends "extend.html" %}
{% block tittle %}Dashboard - ECOMM FLOW{% endblock tittle %}
{% block css %}<link rel="stylesheet" type="text/css" href="static/css/index.css">{% endblock css %}
 {% block js %}
 <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- Vendor js -->
        <script src="static/js/vendor.min.js"></script>

        <!-- Bootstrap Tables js -->
        <script src="static/libs/bootstrap-table/bootstrap-table.min.js"></script>

        <!-- Init js -->
        <script src="static/js/pages/bootstrap-tables.init.js"></script>

        <!-- App js -->
        <script src="static/js/app.min.js"></script>
 {% endblock js %}

{% block body %}
            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                   
                        
                    </div> <!-- container -->

                </div> <!-- content -->

{% endblock %}