{% extends "extend.html" %}
{% block tittle %}My Account - ECOMM FLOW{% endblock tittle %}
{% block css %}
    <!-- third party css -->
    <link href="static/libs/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="static/libs/datatables/buttons.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="static/libs/datatables/select.bootstrap4.css" rel="stylesheet" type="text/css" />
    <!-- third party css end -->

    <!-- flat picker css -->
    <link href="static/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />

    <!-- upper dropdown datepicker css -->
    <link href="static/libs/clockpicker/bootstrap-clockpicker.min.css" rel="stylesheet" type="text/css" />

    <link href="static/libs/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <style>
   .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
     #snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background: #f7b84b !important;
	z-index: 999 !important;
	color: #000 !important;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	top: 30px;
	font-size: 17px;
}

#snackbar.show {
    z-index: 10000!important;
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
	from {
		top: 0;
		opacity: 0;
	}
	to {
		top: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		top: 0;
		opacity: 0;
	}
	to {
		top: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		top: 30px;
		opacity: 1;
	}
	to {
		top: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		top: 30px;
		opacity: 1;
	}
	to {
		top: 0;
		opacity: 0;
	}
}

.form-control-file, .form-control-range {
    width: 45% !important;
}
    </style>
{% endblock css %}

{% block js %}
<!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>
<script src="static/js/vendor.min.js"></script>
   <!-- bootstrap filter js -->
   <script src="static/libs/bootstrap-select/bootstrap-select.min.js"></script>

   <script src="static/js/app.min.js"></script>

   <!-- flatpicker js -->
   <script src="static/libs/flatpickr/flatpickr.min.js"></script>

   <!-- upper dropdown datepicker js -->
   <script src="static/libs/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

        <!-- Init js -->
        <script src="static/js/pages/bootstrap-tables.init.js"></script>
<script type="text/javascript">
    function showPassword(){
        var x = document.getElementById("password1");
        if (x.type === "password") {
            x.type = "text";
        }
        else {
            x.type = "password";
        }
    }
          function confirmPassword(){
                var y = document.getElementById("confirmpwd");
                $('#conPassword').val("");
                if (y.style.display === "block") {
                    y.style.display = "none";
                    document.getElementById("save").disabled = false;
                }
                else {
                    y.style.display = "block";
                }
            }
</script>
 <script>
        function validatePassword(){
        var password = document.getElementById("password1"),confirm_password = document.getElementById("conPassword");
          if(password.value != confirm_password.value){
               document.getElementById("conPassword").style.borderColor = "red";
               document.getElementById("save").disabled = true;
               $('#passwordValidationError').text('Password and Confirm password does not match')
          } else {
               document.getElementById("conPassword").style.borderColor = "green";
               document.getElementById("save").disabled = false;
               $('#passwordValidationError').text('')
          }
        }
        </script>
        <script type="text/javascript">
            function showSnackbar(text) {
                var x = document.getElementById("snackbar");
                x.innerHTML = text;
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ''); }, 3000);
            }
           $('.noSpace').keyup(function() {
             this.value = this.value.replace(/\s/g,'');
            });
            function reloadPage(){
              window.location.reload();
            }
        </script>
<script>
    <!-- send data to post method-->
              function editFunction() {
               if ($('.scopeSlider:checked').length == 0) {
                   showSnackbar("Please select at least one module.");
               }else{
               document.getElementById("main").style.display = "none";
               document.getElementById("loader").style.display = "block";
                {% for x in userdata %}
                   var id={{x.userid}}
                {% endfor %}
               $.ajax({
                  type:'POST',
                  url:'/userUpdate/'+id,
                  data:{
                     <!-- userdata-->
                     contactname:$('#contactname').val(),
                     email:$('#email').val(),
                     password:$('#password1').val(),
                     conpassword:$('#conPassword').val(),

                     <!--accessdata-->
                     user: $('input#addUser').prop('checked'),
                     giftCard: $('input#giftCards').prop('checked'),
                     orderTracking: $('input#orderTracking').prop('checked'),
                     buyerManager: $('input#buyerManager').prop('checked'),
                     priceMonitor: $('input#priceMonitor').prop('checked'),
                     inventory: $('input#inventory').prop('checked'),
                     cashFlow: $('input#cashFlow').prop('checked'),
                     reports: $('input#reports').prop('checked'),
                     cashback: $('input#cashback').prop('checked')
                  },
                  success:function(data){
                       console.log(data);
                       showSnackbar(data.data);
                       setTimeout(function(){ setTime() }, 2000);
                  }
               });
           }
           }
            function setTime() {
                document.getElementById("main").style.display = "block";
                document.getElementById("loader").style.display = "none";
                reloadPage();
           }
</script>
{% endblock js %}

{% block body %}
<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->
<div id="snackbar">Some text some message..</div>
<div class="content-page" style="display:none;"  id="loader" align="center">
                <div class="spinner-border text-success " style="margin-top:20%" role="status"></div>
            </div>
<div class="content-page" id="main">

                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">My Account</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                        {%for x in userdata%}
                        <div class="row">
                            <div class="col-12">
                                <div class="card-box">
                                    <div class="alert alert-warning d-none fade show">
                                        <h4>Oh snap!</h4>
                                        <p class="mb-0">This form seems to be invalid :(</p>
                                    </div>

                                    <div class="alert alert-info d-none fade show">
                                        <h4>Yay!</h4>
                                        <p class="mb-0">Everything seems to be ok :)</p>
                                    </div>



                                        <img src="static/images/users/user-1.jpg" class="rounded-circle avatar-lg img-thumbnail text-center" alt="profile-image">
                                       <div class="row">
                                           <div class="col-md-4">
                                       <div class="form-group mw-10">
                                            <input type="file" id="example-fileinput" class="form-control-file text-center">
                                        </div>
                                               </div>
                                           </div>
                                        <div class="form-group">
                                            <label for="fullname">Full Name :</label>
                                            <input type="text" class="form-control" minlength="3" maxlength="80" name="contactname" id="contactname" value="{{x.contactName}}" required="">
                                        </div>

                                        <div class="form-group">
                                            <label for="email">Email :</label>
                                            <input type="email" id="email" class="form-control" name="email"
                                                    data-parsley-trigger="change" value="{{x.Email}}" readonly>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <label for="password1">Password :</label>
                                                    <input type="password" class="form-control noSpace" minlength="6" maxlength="15" name="password" value="{{x.Password}}" required="" id="password1">
                                                </div>

                                                <div class="col-md-2 float-right" style="margin-top: 35px;">
                                                    <input type="checkbox" onchange="showPassword()" id="pwdcheck">
                                                    <label class="mb-1">Show Password</label>
                                                </div>

                                                <div class="col-md-2" style="margin-top: 28px;">
                                                    <input type="button" class="btn btn-success" value="Update Password" onclick="confirmPassword()">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group" style="display: none;" id="confirmpwd">
                                            <label for="conPassword">Confirm Password :</label>
                                            <input type="password" onkeyup="validatePassword()" minlength="6" maxlength="15" class="form-control noSpace" name="conpassword" id="conPassword">
                                            <span id="passwordValidationError" style="color:red"><span>
                                        </div>
                                </div> <!-- end card-box-->
                            </div> <!-- end col-->
                        </div>
                        <!-- end row-->

                        <div class="row" style="display:none">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">Module Access</h4>
                                        <!-- Rounded switch -->
                                        <div class="row">
                                          {% for y in accessdata %}

                                            <label {% if 0 == y.addUser %} hidden {%endif%} for="switch1" class="mt-1 col-md-1">User</label>
                                            <div {% if 0 == y.addUser %} hidden {%endif%} class="col-md-3 form-group">
                                                <label class="switch" id="switch1">
                                                   <input {% if 1 == x.addUser%} checked {%endif%} id="addUser" class="scopeSlider" type="checkbox">
                                                   <span class="slider round"></span>
                                                </label>
                                            </div>


                                            <label {% if 0 == y.giftCards %} hidden {%endif%} for="switch1" class="mt-1 col-md-1">Gift Cards </label>
                                            <div {% if 0 == y.giftCards %} hidden {%endif%} class="col-md-3 form-group">
                                                <label class="switch" id="switch1">
                                                   <input id="giftCards" class="scopeSlider" {% if 1 == x.giftCards%} checked {%endif%} type="checkbox">
                                                   <span class="slider round"></span>
                                                </label>
                                            </div>


                                            <label {% if 0 == y.orderTracking %} hidden {%endif%} for="switch1" class="mt-1 col-md-1">Order Tracking </label>
                                            <div {% if 0 == y.orderTracking %} hidden {%endif%} class="col-md-3 form-group">
                                                <label class="switch" id="switch1">
                                                   <input type="checkbox" id="orderTracking" class="scopeSlider" {% if 1 == x.orderTracking%} checked {%endif%}>
                                                   <span class="slider round"></span>
                                                </label>
                                            </div>

                                            <label {% if 0 == y.buyerManager %} hidden {%endif%} for="switch1" class="mt-1 col-md-1">Buying Manager </label>
                                            <div  {% if 0 == y.buyerManager %} hidden {%endif%} class="col-md-3 form-group">
                                                <label class="switch" id="switch1">
                                                   <input type="checkbox" id="buyerManager" class="scopeSlider" {% if 1 == x.buyerManager%} checked {%endif%}>
                                                   <span class="slider round"></span>
                                                </label>
                                            </div>

                                            <label {% if 0 == y.PriceMonitor %} hidden {%endif%} for="switch1" class="mt-1 col-md-1">Price Monitor </label>
                                            <div {% if 0 == y.PriceMonitor %} hidden {%endif%} class="col-md-3 form-group">
                                                <label class="switch" id="switch1">
                                                   <input type="checkbox" id="priceMonitor" class="scopeSlider" {% if 1 == x.PriceMonitor%} checked {%endif%}>
                                                   <span class="slider round"></span>
                                                </label>
                                            </div>

                                            <label {% if 0 == y.inventory %} hidden {%endif%} for="switch1" class="mt-1 col-md-1">Inventory </label>
                                            <div {% if 0 == y.inventory %} hidden {%endif%} class="col-md-3 form-group">
                                                <label class="switch" id="switch1">
                                                   <input type="checkbox" id="inventory" class="scopeSlider" {% if 1 == x.inventory%} checked {%endif%}>
                                                   <span class="slider round"></span>
                                                </label>
                                            </div>

                                            <label {% if 0 == y.cashFlow %} hidden {%endif%} for="switch1" class="mt-1 col-md-1">Cashflow </label>
                                            <div  {% if 0 == y.cashFlow %} hidden {%endif%} class="col-md-3 form-group">
                                                <label class="switch" id="switch1">
                                                   <input type="checkbox" id="cashFlow" class="scopeSlider" {% if 1 == x.cashFlow%} checked {%endif%}>
                                                   <span class="slider round"></span>
                                                </label>
                                            </div>

                                            <label  {% if 0 == y.reports %} hidden {%endif%} for="switch1" class="mt-1 col-md-1">Reports </label>
                                            <div  {% if 0 == y.reports %} hidden {%endif%} class="col-md-3 form-group">
                                                <label class="switch" id="switch1" >
                                                   <input type="checkbox" id="reports" class="scopeSlider" {% if 1 == x.reports%} checked {%endif%}>
                                                   <span class="slider round"></span>
                                                </label>
                                            </div>

                                            <label  {% if 0 == y.cashback %} hidden {%endif%} for="switch1" class="mt-1 col-md-1">Cashback </label>
                                            <div  {% if 0 == y.cashback %} hidden {%endif%} class="col-md-3 form-group">
                                                <label class="switch" id="switch1">
                                                   <input type="checkbox" id="cashback" class="scopeSlider" {% if 1 == x.cashback%} checked {%endif%}>
                                                   <span class="slider round"></span>
                                                </label>
                                            </div>
                                            {% endfor %}
                                        </div>

                                    </div> <!-- end card-body -->
                                </div> <!-- end card-->
                            </div> <!-- end col -->
                        </div>

                        <div class="form-group mb-0">
                              <input name="save" id="save" type="submit" value="Save" onclick="editFunction()" class="btn btn-success waves-effect waves-light" value="Save">
                        </div>
                        {% endfor %}



                    </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                2020 &copy; Prime Electronics, LLC
                            </div>
<!--                            <div class="col-md-6">-->
<!--                                <div class="text-md-right footer-links d-none d-sm-block">-->
<!--                                    <a href="javascript:void(0);">About Us</a>-->
<!--                                    <a href="javascript:void(0);">Help</a>-->
<!--                                    <a href="javascript:void(0);">Contact Us</a>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>
<!--<div class="rightbar-overlay"></div>-->
<!-- content -->

<!-- tab hr line Toggle -->

{% endblock %}
